<div class="social-media">
    <h2>My Social Media Accounts</h2>
    <ul>
        <li><a style="color:black;" href="{{ '/github.html' | prepend: site.baseurl | prepend: site.url }}"><i class="fab fa-github"></i></a></li> 
        <li><a style="color:red;" href="{{ '/patreon.html' | prepend: site.baseurl | prepend: site.url }}"><i class="fab fa-patreon"></i></a></li> 
        <li><a style="color:red;" href="{{ '/itchio.html' | prepend: site.baseurl | prepend: site.url }}"><i class="fab fa-itch-io"></i></a></li> 
        <li><a style="color:red;" href="{{ '/youtube.html' | prepend: site.baseurl | prepend: site.url }}"><i class="fab fa-youtube"></i></a></li> 
        <li><a style="color:blue;" href="{{ '/mail.html' | prepend: site.baseurl | prepend: site.url }}"><i class="fab fa-envelope"></i></a></li>
    </ul>
</div>