.sidebar{
    position: fixed;
    top: 0;
    left:0;
    width: 400px;
    height: 100%;
    background: #2d3436;
    text-align: center;
    color: $text-color;
}

.social-media{
    position: static;
    right: 0;
    top: 0;
    height: 50px;
}

.content{
    position: relative;
    left: 400px;
    width: calc(100% - 400px);
}

a{
    color: $background-color;
    text-decoration: none;

    &:hover{
        color: $brand-color;
        text-decoration: underline;
    }
}

footer{
    text-transform: uppercase;
    bottom: 0;
    position: static;
    text-align: center;
}