.sidebar{
    position: fixed;
    top: 0;
    left:0;
    width: 400px;
    height: 100%;
    background: #2d3436;
    text-align: center;
}

a{
    color: $background-color;
    text-decoration: none;

    &:hover{
        color: $brand-color;
        text-decoration: underline;
    }
}

footer{
    text-transform: uppercase;
    bottom: 0;
    position: static;
    text-align: center;
}