.show-on-mobile{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.sidebar img{
    width: 200px;
    height: auto;;
}

.site-header{
    width: 1;
    height: auto;
    visibility: visible;
}

.hide-on-mobile{
    visibility: visible;
    opacity: 1;
    width: 1;
    height: 1;
}

.center-on-mobile{
    text-align: left;
}

@media screen and (max-width: 800px){

    .show-on-mobile{
        visibility: visible;
        opacity: 1;
        width: 1;
        height: 1;
    }

    .hide-on-mobile{
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .center-on-mobile{
        text-align: center;
    }

    .sidebar img{
        width: 50px;
        height: auto;;
    }

    .site-header{
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .sidebar{
        height: 100px;
        width: 100%;
        position: fixed;
        top:0;
    }

    .sidebar h1, h2, h3, h4, img{
        display: inline;
    }

    .content{
        position: relative;
        top: 100px;
        left: 0;
        width: 100%;
    }
}
